/**** RESET ****/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 30px;
}

body {
   background:#f7e8d2;
}

button {
   cursor: pointer;
}


/**** HEADER ****/
header {
   position: relative;
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 10vw;
   padding-left: 4vw;
   padding-right: 4vw;
   background: #f7e8d2;
}

header a {
   background: none;
   border: none;
   margin-top: 2.5vw;
   font-size: 50px;
   text-decoration: none;
   color: black;
}

.logo {
   max-height: 15vw;
   height: 100%;
}

.header-nav {
   margin-top: 3.5vw;
}

span {
font-size: 25px;
}


/**** CART ****/
.products-container {
   max-width: 80vw;
   justify-content: space-around;
   margin: 0 auto;
   margin-top: 5vw;
}

.product-header {
   width: 100%;
   max-width: 80vw;
   display: flex;
   justify-content: flex-start;
   border-bottom: 4px solid burlywood;
   margin: 0 auto;
}

.product-title {
   width: 45%;
   border-bottom: 1px solid burlywood;
}

.price {
   width: 15%;
   display: flex;
   align-items: center;
   border-bottom: 1px solid burlywood;
}

.quantity {
   width: 30%;
   display: flex;
   align-items: center;
   border-bottom: 1px solid burlywood;
}

.total {
   width: 10%;
   display: flex;
   align-items: center;
   border-bottom: 1px solid burlywood;
}

.product {
   width: 45%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px 0;
   border-bottom: 1px solid burlywood;
}

.products
{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}
.products img
{
    width: 75px;
}